@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus {
    outline: none;
  }
}

@layer utilities {
  .active {
    @apply text-black underline;
  }
  .inactive {
    @apply text-slate-300;
  }
}

[type="checkbox"]:checked ~ input {
  @apply text-slate-300 line-through;
}
